.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  &__body{
    width: 100%; 
    height: 40%; 
    max-width: 600px;
  }
  ngx-charts-line-chart {
    width: 100%; 
    height: auto; 
  }
  &__header {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    h2 {
      background-color: #04838f;
      padding: 0.5em 2em;
      color: #fff;
      border-radius: 0.6em;
      text-align: center;
    }
    .review__stats {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      gap: 1em;
      .review__stats__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.5em 1em;
        border: 2px solid #04838f;
        border-radius: 1em;
      }
    }
  }
  &__body{
    display: flex;
    align-items: center;
    justify-content: center;
    .chart{
      width: 100%;
      height: 300px;
    }
  }
}

.back__button {
  position: absolute;
  top: 1em;
  left: 1em;
  button {
    outline: none;
    cursor: pointer;
    border: none;
    background-color: #04838f;
    border-radius: 0.5em;
    color: #fff;
    padding: 0.5em 1.5em;
  }
}

@media (max-width: 768px) { 
  .details__header {
    width: 80%;
    h2 {
      font-size: 1.3rem;
      padding: 0.4em 1.5em;
    }

    .review__stats {
      flex-direction: column;
      gap: 0.8em;

      .review__stats__item {
        width: 100%;
        font-size: 0.9rem;
      }
    }
  }
}
