<div class="back__button">
    <button (click)="goHome()">Back to home</button>
</div>

<div class="details">
  <div class="details__header">
    <h2>{{ countryData?.country }}</h2>
    <div class="review__stats">
      <div class="review__stats__item">
        <p>Total number entries</p>
        <span>{{ countryData?.participations?.length || 0 }}</span>
      </div>
      <div class="review__stats__item">
        <p>Total number medals</p>
        <span>{{ totalMedals }}</span>
      </div>
      <div class="review__stats__item">
        <p>Total number of athletes</p>
        <span>{{ totalAthletes }}</span>
      </div>
    </div>
  </div>

  <div *ngIf="countryData" class="details__body">
    <ngx-charts-line-chart
    
      [scheme]="'cool'"
      [results]="getCountryParticipationData()"
      [gradient]="false"
      [showGridLines]="true"
      [animations]="true"
      [xAxis]="true"
      [yAxis]="true"
    >
    </ngx-charts-line-chart>
  </div>
</div>
